.notify-me {
    background-color: #f1f1f1;
    text-align: center;
    padding: 40px 0;
  }
  
  .notify-me input, .notify-me button {
    margin: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
  }
  
  .notify-me button {
    background-color: #0072ff;
    color: white;
    cursor: pointer;
  }
  